.FormDiv{
    display: flex;
 
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}
ul{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    list-style: none;

}